apache-airflow-providers-amazon
async-timeout==4.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
redis==4.6.0
requests==2.31.0
six==1.16.0
spotipy==2.23.0
urllib3==2.0.3
slack-sdk==3.21.3
apache-airflow-providers-snowflake
selenium
webdriver_manager
dbt-snowflake
boto3
docker
pandas
