apache-airflow-providers-amazon
apache-airflow-providers-docker
apache-airflow-providers-snowflake
async-timeout
certifi
charset-normalizer
idna
redis
requests
six
spotipy
urllib3
slack-sdk
boto3
dbt-snowflake
docker
requests
selenium
snowflake-connector-python
snowflake-sqlalchemy
praw